body
{
    background-color:#3bb045;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.assignment
{
    padding:10px;
    margin:10px;
    padding:10px;
    background:#88ca82;
    border-radius:5px;
    width:20%;
    height:30%;
}

.assignments
{
    display:flex;
    flex-wrap:wrap;
}

h1, h2
{
    text-align:center; 
    font-weight:bold;  
}

p
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

